<form #emailForm="ngForm" (ngSubmit)="onSubmit()">
  <input
    pattern=".+@.+\..+"
    required
    type="email"
    name="email"
    [(ngModel)]="email"
    #emailControl="ngModel"
  />
  <ng-container *ngIf="emailControl.invalid && emailControl.touched">
    <div *ngIf="emailControl.errors?.['required']">You must enter an email</div>
    <div *ngIf="emailControl.errors?.['pattern']">
      Please enter a valid email
    </div>
  </ng-container>
  <button [disabled]="emailForm.invalid">Submit</button>
  <!-- {{ emailForm.valid }}
  {{ email }} -->
</form>
<hr />
<div>Is form valid : {{ emailForm.valid }}</div>
<div>Form Value : {{ emailForm.value | json }}</div>
